@import '../core/functions.scss';
@import '../core/variables.scss';
@import '../core/mixins.scss';

.products {
  font-family: $secondary-font;
  display: grid;
  &__menu {
    background-color: rgb(29, 26, 26);
  }
  &__list {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 700px;
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &__image {
      &--sweatshirts {
        width: 100%;
        height: 100%;
        background-image: url('../../images/hispanic-couple-wearing-different-crewneck-sweatshirts-mockup-while-standing-against-an-old-door-a15532.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.6;
        &:hover {
          opacity: 0.8;
          transition: opacity 0.25s ease-in-out;
        }
      }
      &--tshirts {
        width: 100%;
        height: 100%;
        background-image: url('../../images/round-neck-t-shirt-mockup-featuring-a-man-sitting-against-a-city-view-m8913-r-el2.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.6;
        &:hover {
          opacity: 0.8;
          transition: opacity 0.25s ease-in-out;
        }
      }
    }
    &__title {
      color: white;
      font-weight: 900;
      font-size: rem(27);
      position: absolute;
      top: 36%;
    }
    &__link {
      text-decoration: none;
      color: white;
      font-size: rem(17);
      font-weight: 800;
      text-align: center;
      padding-top: 6px;
      background-color: rgb(226, 66, 66);
      width: 140px;
      height: 30px;
      position: absolute;
      top: 43%;
    }
  }
  &__box {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    &__list--item {
      &--croptops {
        position: relative;
        height: 50%;
      }
      &--hoodies {
        position: relative;
        height: 50%;
      }
    }
    &__image {
      &--croptops {
        width: 100%;
        height: 100%;
        background-image: url('../../images/hispanic-woman-wearing-a-crop-top-tee-mockup-and-a-plaid-shirt-at-night-a19419.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.6;
        position: relative;
        &:hover {
          opacity: 0.8;
          transition: opacity 0.25s ease-in-out;
        }
      }
      &--hoodies {
        width: 100%;
        height: 100%;
        background-image: url('../../images/mockup-of-a-serious-woman-wearing-a-customizable-pullover-hoodie-4982-el1.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.6;
        position: relative;
        &:hover {
          opacity: 0.8;
          transition: opacity 0.25s ease-in-out;
        }
      }
    }
    &__title--croptops {
      color: white;
      font-weight: 900;
      font-size: rem(27);
      position: absolute;
      top: 36%;
      left: 37%;
    }
    &__link--croptops {
      text-decoration: none;
      color: white;
      font-size: rem(17);
      font-weight: 800;
      text-align: center;
      padding-top: 6px;
      background-color: rgb(226, 66, 66);
      width: 140px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 36.7%;
    }
    &__title--hoodies {
      color: white;
      font-weight: 900;
      font-size: rem(27);
      position: absolute;
      top: 30%;
      left: 39%;
    }
    &__link--hoodies {
      text-decoration: none;
      color: white;
      font-size: rem(17);
      font-weight: 800;
      text-align: center;
      padding-top: 6px;
      background-color: rgb(226, 66, 66);
      width: 140px;
      height: 30px;
      position: absolute;
      top: 43%;
      left: 36.7%;
    }
  }
}
